@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #dcc07e;
  transition: width 0.3s ease-in-out;
}

/* Floating Animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Color Variables (Update as needed) */
:root {
  --secondary-color: #d09423;
  --primary-color: #2b3c5a;
}

/* Secondary Colors */
.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.focus\:ring-secondary:focus {
  --tw-ring-color: var(--secondary-color);
}

.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}

body {
  @apply font-changa;
}

.hide-controls::-webkit-media-controls,
.hide-controls::-webkit-media-controls-start-playback-button {
  display: none !important;
}

html,
body {
  --sb-track-color: #2b3c5a !important;
  --sb-thumb-color: #dcc07e !important;
  --sb-size: 14px !important;
}

html::-webkit-scrollbar {
  width: var(--sb-size) !important;
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color) !important;
  border-radius: 3px !important;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color) !important;
  border-radius: 3px !important;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
  }
}

html,
body,
*:hover,
*:focus {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
}

/* Add this CSS for the spinner animation */
.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #d09423; /* The color of your spinner */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
