@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #dcc07e;
  transition: width 0.3s ease-in-out;
}

/* Floating Animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Color Variables (Update as needed) */
:root {
  --secondary-color: #d09423;
  --primary-color: #2b3c5a;
}

/* Secondary Colors */
.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.focus\:ring-secondary:focus {
  --tw-ring-color: var(--secondary-color);
}

.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}

body {
  @apply font-changa;
}

.hide-controls::-webkit-media-controls,
.hide-controls::-webkit-media-controls-start-playback-button {
  display: none !important;
}

html,
body {
  --sb-track-color: #2b3c5a !important;
  --sb-thumb-color: #dcc07e !important;
  --sb-size: 14px !important;
}

html::-webkit-scrollbar {
  width: var(--sb-size) !important;
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color) !important;
  border-radius: 3px !important;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color) !important;
  border-radius: 3px !important;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
  }
}

html,
body,
*:hover,
*:focus {
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
}

/* Ensure consistent font scaling on iOS */
.ios-text-fix {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

/* iOS-specific adjustments */
@supports (-webkit-touch-callout: none) {
  .ios-text-fix {
    font-size: 1.05em; /* Slightly increase font size on iOS */
  }
}
